select{
    color: black;
}
select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}